aws_region  = "eu-central-1"
project     = "wordpress"
environment = "dev"

owner      = "your-team-or-name"
repository = "https://SOURCE_REPOSITORY"

ephemeral_environment = true  # true in dev for easy destroy the environment; false in prod

vpc_cidr = "10.0.0.0/16"
public_subnet_cidrs   = ["10.0.1.0/24", "10.0.2.0/24"]
private_subnet_cidrs  = ["10.0.11.0/24", "10.0.12.0/24"]
isolated_subnet_cidrs = ["10.0.21.0/24", "10.0.22.0/24"]

aurora_min_capacity                  = 0.5
aurora_max_capacity                  = 2
aurora_backup_retention_period       = 7
aurora_master_password_rotation_days = 30
aurora_apply_immediately             = true 

valkey_max_data_storage_gb = 1
valkey_max_ecpu_per_second = 1000

ecr_image_retention_count = 2 